.MovieCard{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 2rem;
    padding: .5rem;
    justify-content: center;
    color: #282c34;
}

.loadBtn{
    padding: 10px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    margin: 10px;
}
.loadBtn:hover{
    background-color: lightgrey;
    color: white;
    transition: .5s ease-out;
    box-shadow: 10px 10px 10px black;
    transition: .5s ease-in;
}
