.MovieCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 2rem;
    padding: .5rem;
    justify-content: center;
}

.loadBtn{
    background-color: black;
    padding: 10px;

}
